UNIFI_NAME="Default"
UNIFI_HOST="unifi"
UNIFI_PORT="443"
UNIFI_USER="ubnt"
UNIFI_PASS="ubnt"

APP_AUTH="true"
APP_USER="admin"
APP_PASS="admin"
APP_THEME="bootstrap"
APP_NB_CLASS="dark"
APP_NB_COLOR="dark"
